@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}

body {background-color:#000000}

/* セクション全体の設定 ---------------------------------------------------*/
/* Centered texts in each section*/
/* .section{
	text-align:center;
} */

/* 背景画像の位置設定*/
.section{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* セクション１の設定 ---------------------------------------------------*/
#sec1{
	background-image: url(../images/1st_section_background.jpg);
}

/* セクション２の設定 ---------------------------------------------------*/
#sec2{
	background-image: url(../images/2nd_section_background.jpg);
}

/* セクション３の設定 ---------------------------------------------------*/
#sec3{
	background-image: url(../images/3rd_section_background.jpg);
}

/* セクション４の設定 ---------------------------------------------------*/
#sec4{
	background-image: url(../images/4th_section_background.jpg);
}

/* セクション５の設定 ---------------------------------------------------*/
#sec5{
	background-image: url(../images/5th_section_background.jpg);
	position: relative;
}

#nyutai_button{
	position: absolute;
	right:50%;
	left:50%;
	bottom: 30%;
	width:120px;
	height: 120px;
}

