@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}

/* セクション全体の設定 ---------------------------------------------------*/
/* Centered texts in each section*/
.section{
	text-align:center;
}

/* Backgrounds will cover all the section*/
.section{
	background-size: cover;
}

/* セクション１の設定 ---------------------------------------------------*/
#sec1{
	background-image: url(../images/1st_section_background.jpg);
}

/* セクション２の設定 ---------------------------------------------------*/
#sec2{
	background-image: url(../images/2nd_section_background.jpg);
}




